[submodule "vim/bundle/Color-Sampler-Pack"]
	path = vim/bundle/Color-Sampler-Pack
  url = https://github.com/vim-scripts/Color-Sampler-Pack.git
  ignore = untracked
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
  ignore = untracked
[submodule "vim/bundle/Gundo"]
	path = vim/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
  ignore = untracked
